body{
    background: url(https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower-dark.png);
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: antiquewhite;
}